<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="E4 Cookbook Target Platform" sequenceNumber="1568034040">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2400.v20240213-1244"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.31.0.v20240229-1022"/>
			<repository location="https://download.eclipse.org/releases/2024-03"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository"/>
			<unit id="ch.qos.logback.classic" version="1.2.3.v20221112-0806"/>
			<unit id="ch.qos.logback.classic.source" version="1.2.3.v20221112-0806"/>
			<unit id="ch.qos.logback.core" version="1.2.3.v20221112-0806"/>
			<unit id="ch.qos.logback.core.source" version="1.2.3.v20221112-0806"/>
			<unit id="ch.qos.logback.slf4j" version="1.2.3.v20221112-0806"/>
			<unit id="ch.qos.logback.slf4j.source" version="1.2.3.v20221112-0806"/>
			<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
			<unit id="org.apache.commons.logging.source" version="1.2.0.v20180409-1502"/>
			<unit id="org.apache.log4j" version="1.2.24.v20221221-2012"/>
			<unit id="org.apache.log4j.source" version="1.2.24.v20221221-2012"/>
			<unit id="org.apache.logging.log4j" version="2.17.1.v20220106-2156"/>
			<unit id="org.apache.logging.log4j.source" version="2.17.1.v20220106-2156"/>
			<unit id="org.jboss.logging" version="3.3.2.v20221112-0806"/>
			<unit id="org.jboss.logging.source" version="3.3.2.v20221112-0806"/>
			<unit id="org.slf4j.api" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.api.source" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.apis.jcl" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.apis.jcl.source" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.apis.log4j" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.apis.log4j.source" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.binding.log4j12" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.binding.log4j12.source" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.binding.nop" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.binding.nop.source" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.binding.simple" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.binding.simple.source" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.bridge.jul" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.bridge.jul.source" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.ext" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.ext.source" version="1.7.30.v20221112-0806"/>
		</location>
	</locations>
</target>