<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="rcp_first_product"
         point="org.eclipse.core.runtime.products">
      <product
            name="rcp.first"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="rcp.first">
         </property>
         <property
               name="aboutImage"
               value="images/logo.png">
         </property>
      </product>
   </extension>
   <extension
         id="rpcfirst"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="rpcfirst">
         <property
               name="appName"
               value="rpcfirst">
         </property>
      </product>
   </extension>
   <extension
         id="me_antoniocaccamo_rcp_first_ui"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="First RCP Application">
      </product>
   </extension>

</plugin>
